

<!-- Algolia DocSearch https://community.algolia.com/docsearch/ -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
<script type="text/javascript"> docsearch({ 
apiKey: '{{ site.algolia.read_only_api_key }}', 
indexName: '{{ site.algolia.index_name }}', 
inputSelector: 'input[type=text]', 
debug: true // Set debug to true if you want to inspect the dropdown 
}); 
</script>

<!-- Goatcounter simple analytics https://www.goatcounter.com/ -->
<script data-goatcounter="https://mdanalysis.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
