

<!-- Algolia DocSearch https://community.algolia.com/docsearch/ -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"></script>
<script type="text/javascript"> docsearch({
     container: '#docsearch',     
     appId:  '{{ site.algolia.appId }}', 
     indexName: '{{ site.algolia.index_name }}', 
     apiKey: '{{ site.algolia.read_only_api_key }}', 
}); 
</script>

<!-- Goatcounter simple analytics https://www.goatcounter.com/ -->
<script data-goatcounter="https://mdanalysis.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
